# Task ID: T-018
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-backend
spec:
  type: {{ .Values.backend.service.type }}
  selector:
    app: backend
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
    {{- if eq .Values.backend.service.type "NodePort" }}
    nodePort: 30001
    {{- end }}