apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-notification
  labels:
    app: notification-service
spec:
  type: {{ .Values.notificationService.service.type }}
  ports:
    - port: {{ .Values.notificationService.service.port }}
      targetPort: 8001
      protocol: TCP
  selector:
    app: notification-service
